/* Card */

[data-slot="card"] {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	border-radius: var(--radius-xl);
	border: 1px solid var(--border);
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: var(--card);
	color: var(--card-foreground);
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	transition: all 0.2s;
}

[data-slot="card-header"] {
	display: grid;
	grid-template-rows: auto auto;
	grid-auto-rows: min-content;
	align-items: start;
	gap: 0.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

[data-slot="card-header"]:has([data-slot="card-action"]) {
	grid-template-columns: 1fr auto;
}

[data-slot="card-title"] {
	line-height: 1;
	font-family: var(--font-display);
	font-weight: 700;
	letter-spacing: -0.025em;
}

[data-slot="card-description"] {
	color: var(--muted-foreground);
	font-size: 0.875rem;
	line-height: 1.625;
}

[data-slot="card-action"] {
	grid-column-start: 2;
	grid-row: 1 / span 2;
	align-self: start;
	justify-self: end;
}

[data-slot="card-content"] {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

[data-slot="card-footer"] {
	display: flex;
	align-items: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
