/* Scroll Area */

[data-slot="scroll-area"] {
	position: relative;
}

[data-slot="scroll-area-viewport"] {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	transition: color 0.15s, box-shadow 0.15s;
	outline: none;
}

[data-slot="scroll-area-viewport"]:focus-visible {
	box-shadow: 0 0 0 3px color-mix(in srgb, var(--ring) 50%, transparent);
	outline: 1px solid var(--ring);
}

[data-slot="scroll-area-scrollbar"] {
	display: flex;
	touch-action: none;
	padding: 1px;
	transition: background-color 0.15s;
	user-select: none;
}

[data-slot="scroll-area-scrollbar"][data-orientation="vertical"] {
	height: 100%;
	width: 0.625rem;
	border-left: 1px solid transparent;
}

[data-slot="scroll-area-scrollbar"][data-orientation="horizontal"] {
	height: 0.625rem;
	flex-direction: column;
	border-top: 1px solid transparent;
}

[data-slot="scroll-area-thumb"] {
	position: relative;
	flex: 1;
	border-radius: 9999px;
	background-color: var(--border);
}
